<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/bandeau.png') }}" alt="Banner" class="banner">
        <button id="logoutButton" class="btn btn-danger">
            <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logout" style="height: 15px; margin-right: 5px;">
            Logout
        </button>
        {% block content %}{% endblock %}
    </div>
    <script>
        document.getElementById('logoutButton').addEventListener('click', function() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.href = '/login';
                } else {
                    alert('Failed to logout: ' + data.message);
                }
            })
            .catch(error => console.error('Error logging out:', error));
        });
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
