{% extends "base.html" %}

{% block content %}
<h3 class="mt-4">Configure Servers</h3>
<div>
    <input type="text" id="username" placeholder="Enter username">
</div>
<div>
    <input type="password" id="password" placeholder="Enter password">
</div>
<div>
    <input type="text" id="server_ip" placeholder="Enter server IP">
</div>
<div>
    <input type="text" id="nickname" placeholder="Enter server nickname">
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <button class="btn btn-success btn-custom" onclick="addServer()">
        <img src="{{ url_for('static', filename='images/addserver.png') }}" alt="Add Server" style="height: 20px; margin-right: 5px;">
        <span style="font-size: 14px;">Add Server</span>
    </button>
</div>
<h3>Existing Servers</h3>
<table id="servers_table">
    <thead>
        <tr>
            <th>Server IP</th>
            <th>User</th>
            <th>Nickname</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="servers_body"></tbody>
</table>
<button onclick="goToListShares()" class="btn btn-primary">
    <img src="{{ url_for('static', filename='images/back.png') }}" alt="Back" style="height: 15px; margin-right: 5px;">
    List shares
</button>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/config_servers.js') }}"></script>
{% endblock %}
